@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-family-primary);
}
body {
	background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--main-color);
	padding: 20px;
}
.container {
	background-color: var(--white-color);
	padding: 2.5rem;
	border-radius: 1rem;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	width: 90%;
	max-width: 450px;
}
.title {
	text-align: center;
	margin-bottom: 1.8rem;
	color: var(--primary-color);
	font-size: 1.8rem;
	font-weight: 700;
	position: relative;
	padding-bottom: 0.5rem;
	text-transform: capitalize;
}
.title::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 50%;
	height: 3px;
	translate: -50% 0;
	background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
	border-radius: 2px;
}
.password-container {
	margin-bottom: 2rem;
	background-color: var(--bg-pas-color);
	border-radius: 10px;
	border: 1px solid var(--border-pas-color);
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 1rem;
}
#password {
	width: 100%;
	padding: 1.1rem;
	padding-right: 50px;
	border: none;
	background-color: transparent;
	color: var(--password-color);
	letter-spacing: 1px;
	outline: none;
	border-radius: 10px;
}
#copy-btn {
	cursor: pointer;
	color: var(--copy-btn-color);
	font-size: 1.1rem;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: color 0.5s ease;
}
#copy-btn:hover {
	color: var(--primary-color);
}
.options {
	margin-bottom: 2rem;
	background-color: var(--bg-pas-color);
	padding: 1.5rem;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
	gap: 20px;
}
.option:last-child {
	margin-bottom: 0;
}
.option label {
	font-size: 0.9rem;
	text-transform: capitalize;
	color: var(--password-color);
	font-weight: 500;
}
.range-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
	width: 60%;
}
input[type='range'] {
	accent-color: var(--primary-color);
	height: 5px;
	cursor: pointer;
	flex: 1;
}
input[type='checkbox'] {
	width: 20px;
	height: 20px;
	border: 2px solid var(--primary-color);
	appearance: none;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	position: relative;
	transition: all 0.5s ease;
}
input[type='checkbox']:checked {
	background-color: var(--primary-color);
}
input[type='checkbox']:checked::after {
	content: '\2714';
	position: absolute;
	color: var(--white-color);
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	font-size: 12px;
}
#length-value {
	font-weight: 600;
	color: var(--primary-color);
	width: 30px;
	text-align: center;
	background-color: var(--border-pas-color);
	border-radius: 4px;
	padding-block: 2px;
	padding-inline: 5px;
}
button {
	width: 100%;
	padding: 1rem;
	background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
	color: var(--white-color);
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-bottom: 1.5rem;
	box-shadow: 0 2px 5px rgba(43, 88, 118, 0.2);
	will-change: transform;
}
button:hover {
	translate: 0px -2px;
}
button:active {
	translate: 0px 0px;
}
.strength-container {
	margin-top: 0.8rem;
}
.strength-container p {
	text-transform: capitalize;
	font-size: 0.9rem;
	color: var(--password-color);
	margin-bottom: 0.6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
}
#strength-label {
	color: var(--primary-color);
	font-weight: 600;
}
.strength-meter {
	height: 10px;
	background-color: var(--strenght-meter-color);
	border-radius: 5px;
	margin-top: 0.5rem;
	overflow: hidden;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.strength-bar {
	height: 100%;
	width: 0;
	min-width: 5%;
	background-color: var(--weak-color);
	transition: all 0.5s ease;
	border-radius: 5px;
}
